# SPI controller (BCM2835 / Pi Zero 2W)
CONFIG_SPI_BCM2835=y

# Framebuffer sys helpers required by cirthfb
CONFIG_FB_SYS_FOPS=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_FB_SYS_IMAGEBLIT=y
